%bar {
  display: block;
  position: absolute;
  height: 2px;
  border-radius: 6px;
  background-color: var(--color-white);
  transition: background-color 0.1s ease;
}
.hamburger {
  background-color: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  &__container {
    position: relative;
    width: 24px;
    height: 18px;
  }

  &__bar {
    &--top {
      @extend %bar;
      width: 16px;
      top: 0;
    }
    &--middle {
      @extend %bar;
      width: 24px;
      top: 8px;
    }
    &--bottom {
      @extend %bar;
      width: 16px;
      bottom: 0;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    .hamburger__bar {
      &--top,
      &--middle,
      &--bottom {
        background-color: var(--color-brand, var(--color-primary));
      }
    }
  }
}
