.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  background-color: var(--color-bgDark);
  display: none;

  &__left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__right {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
  }

  &__link {
    @extend .text-white;
    margin-bottom: 1.5rem;
    text-decoration: none;
    opacity: 0.3;
    transition: 0.1s opacity ease, 0.1s color ease;

    &:hover,
    &:focus {
      opacity: 1;
      outline: 0;
    }

    &:active {
      @extend .text-primary;
    }

    &--main {
      @extend .mainNav__link;
      @extend .text-portfolio;
    }

    &--last {
      margin-bottom: 4.375rem;
    }

    &--active {
      opacity: 1;
    }

    &--socmed {
      @extend .mainNav__link;
      @extend .text-label;
      padding: 8px;
      padding-right: 0;
      margin-bottom: 0.5rem;
    }
  }
}
