.days {
  margin: 5.625rem 3.125rem 0;

  &__slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.125rem;
    position: relative;
  }

  &__step {
    @extend .text-step;
    @extend .text-white;
    position: relative;
    z-index: 2;

    width: 12.5rem;
    height: 100%;
    border: 0;
    cursor: pointer;
    text-align: center;

    transition: 0.1s ease color;

    &:hover,
    &:focus {
      outline: 0;
      @extend .text-primary;
    }

    &:active {
      @extend .text-secondary;
    }
  }

  &__indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;

    background-color: var(--color-gray);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    border-radius: 0.5rem;
  }

  &__holder {
    width: 100%;
    margin-top: 1.875rem;
    position: relative;
    display: flex;
  }

  &__overflow {
    overflow: hidden;
  }
}

.day {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  border: solid 1px var(--color-border);

  &:first-child {
    position: relative;
  }

  &__left {
    width: 40%;
    border-right: solid 1px var(--color-border);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__sides {
    padding: 2.5rem 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--top {
      border-bottom: solid 1px var(--color-border);
    }

    &--whole {
      justify-content: flex-start;
    }
  }

  &__right {
    width: 60%;
    height: 100%;
    object-fit: cover;
  }

  &__activity {
    @extend .text-day;
    @extend .text-white;
    margin: 0 0 1rem;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0.75rem 0 0;

    > li {
      @extend .text-clientInfo;
      @extend .text-white;
      line-height: 1.7em;
      margin-bottom: 0.5rem;
    }
  }
}
